Node-RED-samples/Sensor_Flow.json
[{"id":"5e0ea779.ae57c8","type":"tab","label":"Sensor_Flow","disabled":false,"info":""},{"id":"c4caf0cf.1ec28","type":"inject","z":"5e0ea779.ae57c8","name":"Send Data","topic":"Dummy data","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":240,"wires":[["19319f9b.08cca8"]]},{"id":"19319f9b.08cca8","type":"function","z":"5e0ea779.ae57c8","name":"Device Payload","func":"var counter1 = context.get('counter1')||100;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 =100;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {payload: JSON.stringify({d:{\"Actual_data\" : counter1}})};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["b4e9458f.2a0b4","5f029b09.d3fcb4"]]},{"id":"b4e9458f.2a0b4","type":"wiotp out","z":"5e0ea779.ae57c8","authType":"d","qs":"true","qsDeviceId":"ff2fb85b.ab5fa8","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"NetSim Sensor","x":880,"y":240,"wires":[]},{"id":"5f029b09.d3fcb4","type":"debug","z":"5e0ea779.ae57c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":380,"wires":[]}]